<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Diff Application</title>
  <meta name="description" content="Tuts+ Chat Application" />
  <link rel="stylesheet" href="/css/table.css" />
  <link rel="stylesheet" href="/css/diff.css" />
  <script src="/wsclient.js"></script>
</head>

<body>
  <div>
    <h5></h5>
    <h4></h4>
  </div>

  <table id="exchange">
    <tbody>
      <tr class="headers">
        <th id="symbol">Symbol</th>
        <th id="percent">درصد</th>
        <th id="nob">nob</th>
        <th id="coin">Coin</th>
        <th id="value">مقدار</th>
        <th id="description">توضیحات</th>
      </tr>
    </tbody>
  </table>
</body>

</html>